
$cell-size: 100px;
$player-size: 0.8 * $cell-size;
$base-shift:($cell-size - $player-size) /2;
$col-count:3;
$row-count:5;

@function getShift($base, $size, $index) {
  @return $base + ($index - 1) * $size;
}

@mixin squar($size){
  width: $size;
  height: $size;
}

@mixin squad($size) {
  @include squar($size);

  border-radius:50%;
}


%style-setting-globall{
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  font-weight: 600;
}


.title {
  @extend %style-setting-globall;
  padding: 0;
}

.game {
  position: relative;
  width: 3 * $cell-size;
  border: 3px solid #000;
  @extend %style-setting-globall;

  &__field {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    @include squar($cell-size);
    box-sizing: border-box;
    border: 1px dashed #000;
  }


  &__player {
    position: absolute;
    left: $base-shift;
    top: $base-shift;
    @include squad($player-size);
    background-color: #000;

    @for $index from 1 through $row-count{
      &--row--#{$index} {
        top: getShift($base-shift, $cell-size ,$index)
      }
    }

    @for $index from 1 through $col-count{
      &--col--#{$index} {
        left: $base-shift + ($index - 1) * $cell-size;
        }
      }

      $colors:
        'red' #ff0,
        'yellow' #f00,
        'green'#0f0,
        'purple' #f0f;

    @each $name, $color in $colors{
      &--color--#{$name} {
        background-color: $color;
      }
    }
  }
}

