// @use '../untils/mixins';
// @use '../untils/functions';
// @use '../untils/extends';
// @use '../untils/variables' as *;


.game {
  position: relative;
  width: 3 * $cell-size;
  border: 3px solid #000;
  @extend %style-setting-globall;

  &__field {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    @include squar($cell-size);
    box-sizing: border-box;
    border: 1px dashed #000;
  }


  &__player {
    position: absolute;
    left: $base-shift;
    top: $base-shift;

    @include squad($player-size);
    background-color: #000;

    @for $index from 1 through $row-count{
      &--row--#{$index} {
        top: getShift($base-shift, $cell-size ,$index)
      }
    }

    @for $index from 1 through $col-count{
      &--col--#{$index} {
        left: getShift($base-shift, $cell-size ,$index)
        }
      }

      $colors:
        'red' #ff0,
        'yellow' #f00,
        'green'#0f0;
        // 'purple' #f0f;

    @each $name, $color in $colors{
      &--color--#{$name} {
        background-color: $color;
      }
    }
  }
}